@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    bottom: 0;
    font-family: 'Libre Baskerville', serif;
    color: white;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0px 0px;
    overflow: hidden;
}

.container {
    position: absolute;
    background-color: #00000056;
    max-height: 100%;
    bottom: 0;
    z-index: 2;
    margin-bottom: 1%;
    margin-left: 1%;
}

.output_canvas {
    height: 200px !important;
    width: 100% !important;
}

.input_video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.input_video.selfie {
    transform: scale(-1, 1);
}

.input_image {
    position: absolute;
}

.canvas-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.output_canvas {
    width: 20%;
    display: block;
    position: relative;
    left: 0;
    top: 100%;
}

.control-panel {
    position: absolute;
    left: 10px;
    top: 10px;
}

.loading {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    backface-visibility: hidden;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
}

.loading .message {
    font-size: x-large;
}

.loading .spinner {
    position: absolute;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    border: 32px solid #bebebe;
    border-top: 32px solid #3498db;
    border-radius: 50%;
}

.loaded .loading {
    opacity: 0;
}

.square-box {
    width: 100%;
    height: 100%;
    /* padding-top: 33%; */
    position: relative;
    z-index: 1s;
}

.landmark-grid-container {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #99999999;
    display: flex;
}

.control-panel-text {
    display: none;
}

.control-panel-entry {
    font-family: 'Libre Baskerville', serif !important;
}