<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cécile CHENAVAS - Art-thérapie & Numérique</title>
    <link rel="stylesheet" href="../../style/global-style.css">
</head>

<body id="body">
    <h1>Bienvenue dans une expérience d'Art-thérapie numérique.</h1>
    <h1>Veuillez scanez le QRCode suivant pour commencer :</h1>
    <canvas id="qrcode"></canvas>
    <script src="../../js/init.bundle.js"></script>
</body>

</html>