<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cécile CHENAVAS - Art-thérapie & Numérique</title>
    <link rel="stylesheet" href="../../style/global-style.css">
</head>

<body id="body">
  <h1>Vous devez lancer l'experience sur votre ordinateur et scanner le qr code avec votre téléphone pour commencer.</h1>
  <h1>Sur votre ordinateur rendez vous sur : <h1 id='URL'></h1></h1>
</body>
<script> 
  let URL = window.location.origin;
  document.getElementById('URL').innerHTML = URL;
</script>
</html>