<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cécile CHENAVAS - Art-thérapie & Numérique</title>
    <link rel="stylesheet" href="../../style/global-style.css">
</head>

<body id="body">
    <div class="phone-cont container">
        <video class="input_video"></video>
        <canvas class="phone-out output_canvas"></canvas>
    </div>
</body>
<script src="../../js/telcli.bundle.js"></script>

</html>